

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 8px;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: rgb(255, 249, 171);
}

.page {
    width: 960px;
    background-color: beige;
    margin: 0 auto;
    padding: 16px;
}

#recipepic {
    width: 310px;
    height: auto;
}